* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding-left: 0; 
    margin: 0;
}

.text-white {
    color: white;
}

.background-white {
    background-color: white;
}

.background-black {
    background-color: black;
}

.background-azure {
    background-color: #b4d0e6;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.btn {
    color: white;
    background-color: #0061fe;
    padding: 1rem 1.5rem;
}

.footer-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 5rem 0;
}

.ul-box {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    gap: 1rem;
    width: 20%;
}


.h3-padding {
    padding-bottom: 1rem;
} 

.italiano {
    border-top: 2px solid #999da0;
    color: #999da0;
    width: 5%;
    margin-left: 15rem;
    font-size: 1rem;
    padding: 3rem 0;
}

.section-1-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
}

.title {
    width: 80%;
    margin: 0 auto;
    font-size: 5rem;
    padding: 5rem 0;
}

.text {
    font-size: 2rem
}

.fa-arrow-down {
    font-size: 3rem;
}

.section-1-text-container {
    font-size: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.jumbo {
    display:block;
    width: 110%;
    overflow: visible;
    max-width:none;
    margin-bottom: -140px;
}

.business-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20rem;
    padding-bottom: 5rem;
    gap: 3rem;
}

.plan-title {
    font-size: 3rem;
}

.radio {
    display: flex;
    font-size: 2rem;
    gap: 2rem;
}

.cards-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}

.card-header {
    width: 100%;
    border-bottom: 2px solid gray;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
}

.card {
    width: calc(100% / 3);
    border: 2px solid gray;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 2rem;
    font-size: 1rem;
    padding: 2rem;
}

.line {
    width: 5%;
    color: gray;
}

.fa-check {
    color: #0061fe;
}

.buy-now {
    color: #0061fe;
    text-decoration: underline;
}

.line {
  width: 10%;
  height: 2px;
  background-color: gray;
}

.enterprise-card {
    width: 60%;
    border: 2px solid gray;
    margin: 0 auto;
    position: relative;
    margin-top: 2rem;
}

.enterprise-header {
    width: 100%;
    border-bottom: 2px solid gray;
    vertical-align: middle;
    text-align: center;
    font-size: 1rem;
}

.enterprise-text {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1rem;
}

.btn2 {
    position: absolute;
    top: 4rem;
    right: 2rem;
    color: white;
    background-color: #0061fe;
    padding: 1rem 1.5rem;
}

.partner-container {
   display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 60%;
  margin: 0 auto;
  padding: 10rem 0;
}

.partner-img {
    flex: 1;
}

.partner-img img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  display: block;
}

.partner-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 2rem;
    gap: 1rem;
}

.btn3 {
    border: 2px solid black;
    padding: 1rem 1.5rem;
}

.margin-top {
    margin-top: 2rem;
}

.business-title {
    width: 60%;
    margin: 0 auto;
    font-size: 2rem;
    padding-bottom: 5rem;
}

.business-cards-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-bottom: 5rem;
}

.business-card {
    flex-basis: calc((100% - 2rem * 2) / 3);
}

.business-card h3 {
    margin-bottom: 1.5rem;
}

.business-img {
    width: 100%;
    height: auto;
    display: block;
}

.team-business {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    font-size: 2rem;
    padding: 10rem 0;
}

.size-1 {
    font-size: 1rem;
}