* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.background-white {
    background-color: white;
}

.header-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 2rem 2rem;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.inizia {
    color: white;
    background-color: #0061fe;
    padding: 1rem 1.5rem;
}